USE [master]
GO
/****** Object:  Database [POM]    Script Date: 23.12.2020 20:02:17 ******/
CREATE DATABASE [POM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PizzaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DB\MSSQL\DATA\PizzaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PizzaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DB\MSSQL\DATA\PizzaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POM]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 23.12.2020 20:02:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[InStock] [bit] NOT NULL,
	[CountStock] [int] NOT NULL,
	[Type_FK] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientType]    Script Date: 23.12.2020 20:02:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](30) NOT NULL,
 CONSTRAINT [PK_IngredientType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23.12.2020 20:02:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Cost] [float] NOT NULL,
	[Address] [varchar](250) NOT NULL,
	[PhoneNumber] [nchar](12) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderString]    Script Date: 23.12.2020 20:02:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderString](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Count] [int] NOT NULL,
	[Pizza_FK] [int] NOT NULL,
	[Order_FK] [int] NOT NULL,
 CONSTRAINT [PK_OrderString] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pizza]    Script Date: 23.12.2020 20:02:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizza](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NULL,
	[Price] [float] NOT NULL,
	[Description] [varchar](250) NULL,
	[InStock] [bit] NULL,
	[IsCustom] [bit] NOT NULL,
	[IsVisible] [bit] NOT NULL,
 CONSTRAINT [PK_Pizza] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PizzaCompositionString]    Script Date: 23.12.2020 20:02:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PizzaCompositionString](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Count] [int] NOT NULL,
	[Ingredient_FK] [int] NOT NULL,
	[Pizza_FK] [int] NOT NULL,
 CONSTRAINT [PK_CompositionString] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredient] ADD  CONSTRAINT [DF_Ingredient_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Ingredient] ADD  CONSTRAINT [DF_Ingredient_InStock]  DEFAULT ((0)) FOR [InStock]
GO
ALTER TABLE [dbo].[Ingredient] ADD  CONSTRAINT [DF_Table_1_Count]  DEFAULT ((0)) FOR [CountStock]
GO
ALTER TABLE [dbo].[Ingredient] ADD  CONSTRAINT [DF_Ingredient_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_Cost]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[OrderString] ADD  CONSTRAINT [DF_OrderString_Count]  DEFAULT ((1)) FOR [Count]
GO
ALTER TABLE [dbo].[Pizza] ADD  CONSTRAINT [DF_Pizza_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Pizza] ADD  CONSTRAINT [DF_Pizza_InStock]  DEFAULT ((0)) FOR [InStock]
GO
ALTER TABLE [dbo].[Pizza] ADD  CONSTRAINT [DF_Pizza_IsCustom]  DEFAULT ((0)) FOR [IsCustom]
GO
ALTER TABLE [dbo].[Pizza] ADD  CONSTRAINT [DF_Pizza_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[PizzaCompositionString] ADD  CONSTRAINT [DF_CompositionString_Count]  DEFAULT ((1)) FOR [Count]
GO
ALTER TABLE [dbo].[Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_IngredientType] FOREIGN KEY([Type_FK])
REFERENCES [dbo].[IngredientType] ([Id])
GO
ALTER TABLE [dbo].[Ingredient] CHECK CONSTRAINT [FK_Ingredient_IngredientType]
GO
ALTER TABLE [dbo].[OrderString]  WITH CHECK ADD  CONSTRAINT [FK_OrderString_Order] FOREIGN KEY([Order_FK])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderString] CHECK CONSTRAINT [FK_OrderString_Order]
GO
ALTER TABLE [dbo].[OrderString]  WITH CHECK ADD  CONSTRAINT [FK_OrderString_Pizza] FOREIGN KEY([Pizza_FK])
REFERENCES [dbo].[Pizza] ([Id])
GO
ALTER TABLE [dbo].[OrderString] CHECK CONSTRAINT [FK_OrderString_Pizza]
GO
ALTER TABLE [dbo].[PizzaCompositionString]  WITH CHECK ADD  CONSTRAINT [FK_PizzaCompositionString_Ingredient] FOREIGN KEY([Ingredient_FK])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[PizzaCompositionString] CHECK CONSTRAINT [FK_PizzaCompositionString_Ingredient]
GO
ALTER TABLE [dbo].[PizzaCompositionString]  WITH CHECK ADD  CONSTRAINT [FK_PizzaCompositionString_Pizza] FOREIGN KEY([Pizza_FK])
REFERENCES [dbo].[Pizza] ([Id])
GO
ALTER TABLE [dbo].[PizzaCompositionString] CHECK CONSTRAINT [FK_PizzaCompositionString_Pizza]
GO
USE [master]
GO
